<!-- <main class="grid grid-rows-3 grid-flow-col gap-4 h-screen">
  <nav class="row-span-3 bg-violet-700">
    <div>APP</div>
  </nav>
  <section class="col-span-2">

  </section>
  <footer class="row-span-2 col-span-2">
    <div>FOOTER</div>
  </footer>
</main> -->

<main class="grid grid-rows-6 grid-flow-col h-screen md:grid-rows-4 md:grid-cols-6">
  <nav class="bg-violet-700 row-span-1 md:row-span-4 md:col-span-1  md:w-auto">
    <div class="mx-auto md:mx-0"> <div>APP</div>
    </div>
  </nav>
  <section class="w-full row-span-1 md:col-span-5 md:row-span-1 "> ...
  </section>
  <section class="bg-gray-200 row-span-4 md:row-span-3 md:col-span-5">
    <app-table-data></app-table-data>
  </section>
</main>
